<!DOCTYPE html>
<html>
<head>
  <title>Webkit page cache 测试</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/demo/stylesheets/pageCache/common.css">
</head>
<body>
  <div id="wrap">
    <p>page cache 参考链接：https://webkit.org/blog/427/webkit-page-cache-i-the-basics/</p>
    <a href="https://www.douban.com">跳转链接，记得返回</a>
    <p id="btn">Click me!</p>
  </div>

  <script src="/demo/javascripts/pageCache/index.js"></script>
</body>
</html>
