<!DOCTYPE html>
<html>
<head>
  <title>H5 video 兼容性测试</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    * {
      padding: 0;
      margin: 0;
    }

    .wrap {
      position: relative;
      height: 100vh;
    }

    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .inner {
      height: 100%;
      z-index: 1;
    }

    .inner.bg {
      background-image: url('/demo/images/video/bg.webp');
      background-color: #5f9ea0;
      background-size: cover;
    }

    .inner_content {
      color: #fff;
      height: 200px;
      font-size: 20px;
      line-height: 30px;
      padding: 200px 0 0 30px;
    }

    .invisible {
      opacity: 0;
    }
  </style>
</head>
<body>
  <div class="wrap">
    <div class="inner">
      <p class="inner_content invisible">去做最幸福的人</p>
    </div>

    <video class="video" id="video"
           preload="auto" muted autoplay
           x5-video-player-type="h5" x5-video-player-fullscreen
           playsinline webkit-playsinline
           style="object-fit: fill">
      <source src="/demo/video/opening.mov" type="video/mov">
      <source src="/demo/video/opening.mp4" type="video/mp4">
    </video>
  </div>

  <script>
    const video = document.querySelector('#video')
    const sources = video.querySelectorAll('source')
    const lastSource = sources[sources.length - 1]

    lastSource.addEventListener('error', function (err) {
      document.querySelector('.inner').className = 'inner bg';
    })

    // canplay 事件存在兼容性问题
    video.addEventListener('canplaythrough', function () {
      video.play()
    })

    video.addEventListener('ended', function () {
      document.querySelector('.inner_content').className = 'inner_content'
    })
  </script>
</body>
</html>
